[Unit]
Description=Icecast2 streaming media server
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=network-online.target
Wants=network-online.target

[Service]
User=__APP__
Group=__APP__
Type=exec
ExecStart=/usr/bin/icecast2 -c /etc/icecast2/icecast.xml

[Install]
WantedBy=multi-user.target
